<app-add-todo-item-form (newTodoItemCreated)="addTodoItem($event)"></app-add-todo-item-form>
<hr />
<h4>List</h4>
<button class="btn btn-sm btn-danger mt-4 mb-4" [@isSelected]="anySelected() ? 'stateSelected' : 'stateIsNotSelected'"
     id="btn-delete-item"
    (click)="deleteSelectedItems()">Eliminar</button>
<app-todo-item 
    *ngFor="let ti of getAll();" 
    [todoItem]="ti" 
    (selectionChanged)="selectionChange($event)"
    appEspiame ></app-todo-item>