<app-add-todo-item-form (newTodoItemCreated)="onItemCreated($event)"></app-add-todo-item-form>
<div class="row">
    <app-todo-movie-item *ngFor="let movie of apiClient.getAll();" [movieItem]="movie"></app-todo-movie-item>
</div>