<div class="jumbotron">
  <h1>Todo App</h1>
</div>
<div style="float: right; margin-right: 2rem;">
  <select (change)="getTranslations($event.target.value)" id="languageSelector" class="form-control">
    <option value="en">English</option>
    <option value="es">Español</option>
    <option value="fr">France</option>
  </select>
</div>
<div class="container">
  <nav class="nav nav-pills">
    <a class="nav-link active" id="nav_home" [routerLink]="['/home']">Home</a>
    <a class="nav-link" id="nav_movies" [routerLink]="['/movies']">Movies</a>
    <a class="nav-link" id="nav_history" [routerLink]="['/history']">History</a>
    <a class="nav-link" id="nav_login" [routerLink]="['/login']">Login</a>
  </nav>
  <hr style="margin-top: 2rem;"/>
  <router-outlet></router-outlet>
  <div class="row">
    <h3>{{'Saludar' | translate}}</h3>
  </div>
  <div class="row">
    <p>Contador de tags: {{getTags()}}</p>
  </div>
</div>
