.jumbotron {
    color: white;
    background-color: #3f51b5;
}

/* NavBar Styles */
.navbar-todo {
    color: #FFFFFF;
    background-color: #2c387e; }
  
  .navbar-todo-menu {
    color: #FFFFFF; }
  
  .navbar-todo-brand {
    color: #FFFFFF; }
  
  .navbar-todo-brand:hover {
    color: #f50057; }
  
  .navbar-todo-item a {
    color: #e0e0e0; }
  
  .navbar-todo-item a:hover {
    color: #f50057; }
  
  .navbar-todo-item.active a {
    color: #FFFFFF;
    font-weight: bold; }
