/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~mapbox-gl/dist/mapbox-gl.css";
@import "~@mapbox/mapbox-gl-geocoder/lib/mapbox-gl-geocoder.css";

.btn-todo-primary {
    color: white;
    background-color: #f50057;
}

.btn-todo.btn-todo-primary:hover {
    background-color: #ab003c;
}